
@{
    ViewBag.Title = "CheckValidUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckValidUser</h2>
@if (Session["UserID"] != null)
{
    <div>
        Welcome: <a href="#">@Session["UserName"]</a> <br />
        <a href="/Home/UploadImage">Logout</a>
    </div>
}
